fastapi
uvicorn
python-dotenv
qdrant-client
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
pypdf
pdfplumber
rank_bm25
sentence-transformers
pydantic
pydantic-settings
uuid
slowapi
flake8
black
isort
mypy
pytest
httpx
python-multipart
